<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joyful Waves Biography</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

    	<link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
	
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'bio.css' %}">

    

  </head>
  
	{% include "navbar.html" %}
	
    <div class="jumbotron" class="img">
            <h1>JOYFUL WΛVΣS</h1>
            <p>▲ Seapunk  Savants ▲ Biography</p>
    </div>
  <body class="pushdown_automata" data-spy="scroll" data-target="bs-docs-sidebar">
     <div class="row">
         <nav class="col-xs-3 bs-docs-sidebar">
             <ul id="sidebar" class="nav nav-stacked">
                 <li><a href="#Alec">Alec Davidson</a></li>
                 <li><a href="#Ian">Ian Humphrey</a></li>
                 <li><a href="#Nancy">Nancy McCollough</a></li>
                 <li><a href="#Rick">Rick Jamil</a></li>
                 <li><a href="#Salvatore">Salvatore Bottiglieri</a></li>
             </ul>
        </nav>
         <br>
        <div class="col-md-9">
            <section id="Alec" class="band">
                <div class="media" id="space">
                     <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="http://revistasindromes.com/images/100x100.gif" alt="...">
                    </a>
                </div>
                    <div class="media-body">
                        <h4 class="media-heading">Alec Davidson</h4>
                        <p>Tousled yr single-origin coffee, stumptown fanny pack organic VHS Truffaut food truck kale
                            chips kitsch iPhone cre literally. Hoodie street art pug Brooklyn fashion axe, Banksy High
                            Life flexitarian VHS Tumblr wolf freegan beard Thundercats aesthetic. Chia art party irony,
                            migas fap hashtag pop-up. Fingerstache church-key ethical, mlkshk DIY ennui viral Vice
                            photo booth. Banh mi gastropub bespoke, wayfarers aesthetic typewriter scenester Echo Park.
                            Selvage post-ironic master cleanse cliche four loko. Chillwave taxidermy paleo fanny
                            pack, selvage single-origin coffee Brooklyn tote bag.
                        </p>
                    </div>
                </div>
            </section>
            <br>
            <section id="Ian" class="band">
                <div class="media" id="space">
                    <div class="media-body">
                        <h4 class="media-heading">Ian Humphrey</h4>
                       
                        <p>Tousled yr single-origin coffee, stumptown fanny pack organic VHS Truffaut food truck kale
                            chips kitsch iPhone cre literally. Hoodie street art pug Brooklyn fashion axe, Banksy High
                            Life flexitarian VHS Tumblr wolf freegan beard Thundercats aesthetic. Chia art party irony,
                            migas fap hashtag pop-up. Fingerstache church-key ethical, mlkshk DIY ennui viral Vice
                            photo booth. Banh mi gastropub bespoke, wayfarers aesthetic typewriter scenester Echo Park.
                            Selvage post-ironic master cleanse cliche four loko. Chillwave taxidermy paleo fanny
                            pack, selvage single-origin coffee Brooklyn tote bag.
                        </p>
                    </div>
                    <div class="media-right media-top">
                        <a href="#">
                            <img class="media-object" src="http://revistasindromes.com/images/100x100.gif" alt="...">
                        </a>
                    </div>
                </div>
            </section>
            <br>
            <section id="Nancy" class="band">
                <div class="media" id="space">
                     <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="http://revistasindromes.com/images/100x100.gif" alt="...">
                    </a>
                </div>
                    <div class="media-body">
                        <h4 class="media-heading">Nancy McCollough</h4>
                       
                        <p>Tousled yr single-origin coffee, stumptown fanny pack organic VHS Truffaut food truck kale
                            chips kitsch iPhone cre literally. Hoodie street art pug Brooklyn fashion axe, Banksy High
                            Life flexitarian VHS Tumblr wolf freegan beard Thundercats aesthetic. Chia art party irony,
                            migas fap hashtag pop-up. Fingerstache church-key ethical, mlkshk DIY ennui viral Vice
                            photo booth. Banh mi gastropub bespoke, wayfarers aesthetic typewriter scenester Echo Park.
                            Selvage post-ironic master cleanse cliche four loko. Chillwave taxidermy paleo fanny
                            pack, selvage single-origin coffee Brooklyn tote bag.
                        </p>
                    </div>
                </div>
            </section>
            <br>
            <section id="Rick" class="band">
                <div class="media" id="space">
                    <div class="media-body">
                        <h4 class="media-heading">Rick Jamil</h4>
                        
                        <p>Tousled yr single-origin coffee, stumptown fanny pack organic VHS Truffaut food truck kale
                            chips kitsch iPhone cre literally. Hoodie street art pug Brooklyn fashion axe, Banksy High
                            Life flexitarian VHS Tumblr wolf freegan beard Thundercats aesthetic. Chia art party irony,
                            migas fap hashtag pop-up. Fingerstache church-key ethical, mlkshk DIY ennui viral Vice
                            photo booth. Banh mi gastropub bespoke, wayfarers aesthetic typewriter scenester Echo Park.
                            Selvage post-ironic master cleanse cliche four loko. Chillwave taxidermy paleo fanny
                            pack, selvage single-origin coffee Brooklyn tote bag.
                        </p>
                    </div>
                    <div class="media-right media-top">
                        <a href="#">
                            <img class="media-object" src="http://revistasindromes.com/images/100x100.gif" alt="...">
                        </a>
                    </div>
                </div>
            </section>
            <br>
            <section id="Salvatore" class="band">
                <div class="media" id="space">
                     <div class="media-left media-top">
                    <a href="#">
                        <img class="media-object" src="http://revistasindromes.com/images/100x100.gif" alt="...">
                    </a>
                </div>
                    <div class="media-body">
                        <h4 class="media-heading">Salvatore Bottiglieri</h4>
                       
                        <p>Tousled yr single-origin coffee, stumptown fanny pack organic VHS Truffaut food truck kale
                            chips kitsch iPhone cre literally. Hoodie street art pug Brooklyn fashion axe, Banksy High
                            Life flexitarian VHS Tumblr wolf freegan beard Thundercats aesthetic. Chia art party irony,
                            migas fap hashtag pop-up. Fingerstache church-key ethical, mlkshk DIY ennui viral Vice
                            photo booth. Banh mi gastropub bespoke, wayfarers aesthetic typewriter scenester Echo Park.
                            Selvage post-ironic master cleanse cliche four loko. Chillwave taxidermy paleo fanny
                            pack, selvage single-origin coffee Brooklyn tote bag.
                        </p>
                    </div>
                </div>
            </section>
         </div>
     </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
 <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
     <!-- ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
     <script src="{%static 'bio.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>