<!DOCTYPE html>
<head>
    <title>DÏSCOGR∆PHY</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "disc.css" %}">
    <!--<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>-->
    <link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Faster+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>-->
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
</head>    
<body style="background-image:url({% static "wave.png" %});">
    {% include "navbar.html" %}
    <div class="container header">
        <h1><span>◊</span><span>D</span><span>!</span><span>S</span><span>C</span><span>Ø</span><span>G</span><span>R</span><span>∆</span><span>p</span><span>Y</span><span>◊</span></h1>
    </div>
    <div class="container">
	<img src="{%static "album1.jpg" %}" width="200">
	<img src="{%static "album2.jpg" %}" width="200">
	<img src="{%static "album3.jpg" %}" width="200">
	<p class="lead">Lorem ipsum dolor sit amet eget. Soluta congue vulputate fusce sed hendrerit. Nunc habitasse congue accumsan vel tempor quam quam blandit ligula dolor nulla. Netus tristique etiam. Diam mi lacinia.
	
	Felis ipsum dolor fermentum nonummy varius pharetra pellentesque nibh dui ad augue porta donec eu. Ipsum veniam augue non sapien luctus. Dolore cras in. Sed imperdiet eget. Qui non per dui senectus litora. Proin sed neque lorem blandit dui ac neque sem. Eros consequat felis. In quam mauris. Praesent nec donec nullam aenean pretium vehicula donec suscipit. Quis vel vitae. Vestibulum vitae vel volutpat lectus ligula porttitor laoreet mollis pulvinar placerat luctus. Sed nec eget. Nec viverra lobortis nec sit eleifend. A aliquam libero. Lacus morbi nec sapien eget dolor. Leo urna cras. Est lobortis ipsum pellentesque sit dui massa proin nulla. Nulla urna et a diam imperdiet vitae augue quam. Id duis facilisi. Elementum a tincidunt donec curabitur eros ac justo mollis vestibulum wisi rhoncus varius maecenas est. Amet arcu turpis odio sodales vestibulum cursus velit nulla. Placerat suscipit nullam. Lacus orci ornare. Tellus vestibulum nisl. Arcu dui dui.
	
	Ut est eget turpis lacus vestibulum consequat tellus tortor. Eros nunc pulvinar massa et pellentesque sed faucibus mi. Posuere mauris in. Purus volutpat doloremque tortor quam sed. Egestas gravida tempor. Consequat eu posuere. Quisque risus netus. Eu nibh erat. Quisque velit vitae. Vulputate fusce eu eget facilisi lacus erat torquent ac. Nec ultricies tempor. In vestibulum erat. Tincidunt pellentesque orci vestibulum quis neque. Mattis vivamus metus lorem tempus feugiat. Quam morbi massa magna lacus tortor eu nam eu eget magna lorem. Erat ut amet. Facilisi odio eu. Vitae placerat volutpat. Vivamus sed porttitor nullam consequat litora sed ut est lectus risus neque urna dignissim risus a lorem risus repellendus tellus mollis consequat aliquam mauris sed ultrices diam. Ornare et suscipit.
	
	Ut sociosqu vulputate. Orci tellus dictum. Senectus libero pellentesque. Fermentum lacus libero. Eget donec mauris et fermentum malesuada cras nascetur convallis sollicitudin venenatis luctus lacus facilisi et. Mi nullam eros. Vitae quis in netus dolor dolor rutrum ultricies eget luctus mi mauris lacus integer nunc. Suspendisse vel metus tristique elit ut. Quo in vitae natoque congue ut. Maecenas nec morbi.Test Discography Page. test.</p>
    </div>
</body>
</html>

