<!DOCTYPE html>
<head>
    <title>DÏSCOGR∆PHY</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "disc.css" %}">
    <link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
</head>    
<body style="background-image:url({% static "wave.png" %});">
    {% include "navbar.html" %}
    <div class="container header">
        <h1><span>◊</span><span>D</span><span>!</span><span>S</span><span>C</span><span>Ø</span><span>G</span><span>R</span><span>∆</span><span>p</span><span>Y</span><span>◊</span></h1>
   </div>
	<div class="container">
		<div class="row">
			<img class="img-responsive img-thumbnail col-lg-4 col-md-4" src="{%static "album1.jpg" %}" width="200">
			<div class="col-lg-8 col-md-8">
				<table class="table">
					<tr>
						<th>Good Fishermen EP</th>
						<th></th>
 					</tr>
					<tr>
						<td>1</td>
						<td>smooth beach</td>
					</tr>
					<tr>
						<td>2</td>
						<td>more coconuts</td>
					</tr>
					<tr>
						<td>3</td>
						<td>worst sea cucumbers</td>
					</tr>
					<tr>
						<td>4</td>
						<td>soppy dolphins</td>
					</tr>
					<tr>
						<td>5</td>
						<td>wave of the fishermen</td>
					</tr>
				</table>
 			</div>
		</div> <!-- end album1 -->

		<div class="row"><br/>
			<img class="img-responsive img-thumbnail col-lg-4 col-md-4" src="{%static "album2.jpg" %}" width="200">
			<div class="col-lg-8 col-md-8">
				<table class="table">
					<tr>
						<th>VØLCANO OF †H3 SQÜID$ EP</th>
						<th></th>
 					</tr>
					<tr>
						<td>1</td>
						<td>the happy beaches</td>
					</tr>
					<tr>
						<td>2</td>
						<td>blue oxygen</td>
					</tr>
					<tr>
						<td>3</td>
						<td>the straight flipper</td>
					</tr>
					<tr>
						<td>4</td>
						<td>limp krill</td>
					</tr>
					<tr>
						<td>5</td>
						<td>rich whale$</td>
					</tr>
					<tr>
						<td>6</td>
						<td>see weed of the sea weed</td>
					</tr>
				</table>
 			</div>
		</div> <!-- end album2 -->

		<div class="row"><br/>
			<img class="img-responsive img-thumbnail col-lg-4 col-md-4" src="{%static "album3.jpg" %}" width="200">
			<div class="col-lg-8 col-md-8">
				<table class="table">
					<tr>
						<th>Shark Salts EP</th>
						<th></th>
 					</tr>
					<tr>
						<td>1</td>
						<td>scaly face</td>
					</tr>
					<tr>
						<td>2</td>
						<td>bigger sea sponges</td>
					</tr>
					<tr>
						<td>3</td>
						<td>green sharks</td>
					</tr>
					<tr>
						<td>4</td>
						<td>deathly sea lions</td>
					</tr>
					<tr>
						<td>5</td>
						<td>the dangerous humans</td>
					</tr>
					<tr>
						<td>6</td>
						<td>beautiful bubbles</td>
					</tr>
				</table>
 			</div>
		</div> <!-- end album3 -->
	</div> <!-- end albums container -->
</body>
</html>

