<!DOCTYPE html>
<head>
    <title>DÏSCOGR∆PHY</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "disc.css" %}">
    <!--<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>-->
    <link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=Trade+Winds' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Faster+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>-->
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
</head>    
<body style="background-image:url({% static "wave.png" %});">
    {% include "navbar.html" %}
    <div class="container header">
        <h1><span>◊</span><span>D</span><span>!</span><span>S</span><span>C</span><span>Ø</span><span>G</span><span>R</span><span>∆</span><span>p</span><span>Y</span><span>◊</span></h1>
	</div>
	<div class="container">
		<div class="row">
			<img class="img-responsive img-thumbnail col-lg-4 col-md-4" src="{%static "album1.jpg" %}" width="200">
			<div class="col-lg-8 col-md-8">
				<table class="table">
					<tr>
						<th>#</th>
						<th>TRACK</th>
 					</tr>
					<tr>
						<td>1</td>
						<td>BLAH</td>
					</tr>
					<tr>
						<td>2</td>
						<td>BLAHBLAH</td>
					</tr>
				</table>
 			</div>
		</div> <!-- end album1 -->

		<div class="row"><br/>
			<img class="img-responsive img-thumbnail col-lg-4 col-md-4" src="{%static "album2.jpg" %}" width="200">
			<div class="col-lg-8 col-md-8">
				<table class="table">
					<tr>
						<th>#</th>
						<th>TRACK</th>
 					</tr>
					<tr>
						<td>1</td>
						<td>BLAH</td>
					</tr>
					<tr>
						<td>2</td>
						<td>BLAHBLAH</td>
					</tr>
				</table>
 			</div>
		</div> <!-- end album2 -->

		<div class="row"><br/>
			<img class="img-responsive img-thumbnail col-lg-4 col-md-4" src="{%static "album3.jpg" %}" width="200">
			<div class="col-lg-8 col-md-8">
				<table class="table">
					<tr>
						<th>#</th>
						<th>TRACK</th>
 					</tr>
					<tr>
						<td>1</td>
						<td>BLAH</td>
					</tr>
					<tr>
						<td>2</td>
						<td>BLAHBLAH</td>
					</tr>
				</table>
 			</div>
		</div> <!-- end album3 -->
	</div> <!-- end albums container -->
</body>
</html>

