<!DOCTYPE html>
<html lang="en">


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../static/favicon.ico">
    <title>Joyful Waves</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<link href="http://getbootstrap.com/examples/blog/blog.css" rel="stylesheet">
	
	<!-- Our custom CSS -->
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'global.css' %}">
	<link rel="import" href="{%static 'navbar.html' %}">
	
	<link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
	
  </head>
  
  <body>
        {% include "navbar.html" %}
 
	<div class="jumbotron">
		<h1>JOYFUL WΛVΣS</h1>
		<p>▲ Seapunk  Savants ▲</p>
  
	</div>

    <div class="container">

    
      <!-- our blog posts -->
      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Hello India!</h2>
            <p class="blog-post-meta">January 5, 2015 by Rick</p>

            <p>On the road again as we bring sea punk to Asia!</p>
            <img src="{%static 'india.jpg' %}" width="450">

          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">New Years Show!</h2>
            <p class="blog-post-meta">January 1, 2015 by Nancy</p>

            <p>Setting up for the show.... &star;</p>
			<img src="{%static 'stage.jpg' %}" width="450">

          </div><!-- /.blog-post -->

	  <div class="blog-post">
            <h2 class="blog-post-title">Winter Solstice Benefit Concert</h2>
  	    <p class="blog-post-meta">December 21, 2014 by Ian</p>
            <p>Benefit concert for the <strong>wooly mammoth</strong> <em>TONITE!!!@8pm!!!</em></p>
		        <img src="{%static 'wooly.png' %}" width="450">
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Almost Christmas!</h2>
            <p class="blog-post-meta">November 30, 2014 by Alec</p>

            <p>Getting cold, but y'all are keeping us warm!</p>
			<img src="{%static 'fans.png' %}" width="450">

          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Thank you 24 hour Denny's!</h2>
            <p class="blog-post-meta">October 18, 2014 by Alec</p>

            <p>Thanks for the free dinner, you are the greatest fans ever!</p>
			<img src="{%static 'groupies.jpg' %}" width="450">

          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Flagstaff, Arizona based Sea Punk ensemble.</p>
            <p><a href="https://github.com/alecdavidson/joyful-waves">git</a></p>
            <p><small>The site's background image is a derivative work of 
               <a target="_blank" href="https://www.flickr.com/photos/michaelb1/5563304078/in/photolist-9tBotQ-5BfWBw-6iidTN-5fFqoj-5fB4iv-pBHpbB-655aaE-egPSS-aMRtQH-aPmWpK-a84Uax-g449fu-6nP7iH-aLCMSe-5pNSzZ-egPZw-8HqWiL-dobfhW-fghJ3k-aLCJpM-p6cKQB-4Z5sse-3nFuvS-9d5qoa-3jCtKU-cdeNj-aWkB22-afiiWf-aPmWRi-4hjKh3-nnk8g3-fcYStV-5fB8yt-mjxnRR-63p5Tq-5KM4c8-b92BiV-6g3RCJ-oxfMfX-gqa4Xm-eKURAi-g42TQ7-iLxVt-6jCBEX-61JBKo-b5pXhK-66GuNz-nTTpR-aWkDxH-aTiYoR"><em>Underwater scuplture</em> by Michael Brashier</a> 
               used under <a target="_blank" href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0</a> 
               All other images are original works or public domain.</small></p>
          </div>
          <div class="sidebar-module">
            <h4>Upcoming Tour Dates</h4>
            <ol class="list-unstyled">
              <li><b>February 21, 2015</b><br>
			Melbourne, AUS @ Soundwave Festival</li><br>
              <li><b>February 22, 2015</b><br>
			Adelaide, AUS @ Soundwave Festival</li><br>
              <li><b>February 28, 2015</b><br>
			Brisbane, AUS @ Soundwave Festival</li><br>
              <li><b>March 1, 2015</b><br>
			Sydney, AUS @ Soundwave Festival</li><br>
              <li><b>March 8, 2015</b><br>
			Houston, TX @ Rodeo Houston</li><br>
              <li><b>March 15, 2015</b>
			Tempe, AZ @ Pot of Gold Festival</li><br>
             <li><b><a href="http://127.0.0.1:8000/tour/">▲ More on our Tour Dates Page ▲</a></b></li>
            </ol>
          </div>
         
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
	
	
	
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>