<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joyful Waves</title>

    <!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	
	<link href="http://getbootstrap.com/examples/blog/blog.css" rel="stylesheet">
	
	<!-- Our custom CSS -->
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'disc.css' %}">
	<link rel="import" href="{%static 'navbar.html' %}">
	
	<link href='http://fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>

  </head>
      <div class="jumbotron">
        <h1>JOYFUL WΛVΣS</h1>
        <p>▲ Seapunk  Savants ▲ Tour Dates</p>
    </div>
  <body>
  <br><br>

    {% include "navbar.html" %}
    <div class="container header"><!-- ◊†ØUr D∆✞ΣS◊-->
        <h1><span>◊</span><span>T</span><span>Ø</span><span>u</span><span>R</span><span> </span><span>D</span><span>∆</span><span>✞</span><span>Σ</span><span>S</span><span>◊</span></h1>
    </div>

    <div class="container">
        <p class="lead"><a href="http://www.ticketmaster.com/">February 21, 2015</a><br>
        Melbourne, AUS @ Soundwave Festival<br>
        Melbourne Showgrounds<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">February 22, 2015</a><br>
        Adelaide, AUS @ Soundwave Festival<br>
        Bonython Park<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">February 28, 2015</a><br>
        Brisbane, AUS @ Soundwave Festival<br>
        Brisbane Showgrounds<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">March 1, 2015</a><br>
        Sydney, AUS @ Soundwave Festival<br>
        Sydney Olympic Park<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">March 8, 2015</a><br>
        Houston, TX @ Rodeo Houston<br>
        NRG Stadium<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">March 15, 2015</a><br>
        Tempe, AZ @ Pot of Gold Festival<br>
        Tempe Beach Park<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">March 27, 2015</a><br>
        Nagoya, JP @ Zepp Nagoya - Punkspring 2015<br>
        Zepp Nagoya<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">March 28, 2015</a><br>
        Osaka, JP @ Kobe World Memorial Hall - Punkspring 2015<br>
        World Memorial Hall<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">March 29, 2015</a><br>
        Tokyo, JP @ Mukuhari Messe - Punkspring 2015<br>
        Makuhari Messe<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 10, 2015</a><br>
        Camden, NJ @ Susquehanna Bank Center<br>
        Susquehanna Bank Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 13, 2015</a><br>
        Holmdel, NJ @ P.N.C. Bank Arts Center<br>
        PNC Bank Arts Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 14, 2015</a><br>
        Mansfield, MA @ Xfinity Center<br>
        Xfinity Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 16, 2015</a><br>
        Cuyahoga Falls, OH @ Blossom Music Center<br>
        Blossom Music Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 17, 2015</a><br>
        Toronto, ON @ Molson Canadian Amphitheatre<br>
        Molson Canadian Amphitheatre<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 18, 2015</a><br>
        Darien Center, NY @ Darien Lake Performing Arts Center<br>
        Darien Lake Performing Arts Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 20, 2015</a><br>
        Bangor, ME @ Darling's Waterfront Pavilion<br>
        Darling's Waterfront Pavilion<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 23, 2015</a><br>
        Saratoga Springs, NY @ Saratoga Performing Arts Center<br>
        Saratoga Performing Arts Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 24, 2015</a><br>
        Wantagh, NY @ Nikon at Jones Beach Theater<br>
        Nikon at Jones Beach Theater<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 26, 2015</a><br>
        Hartford, CT @ Xfinity Theatre<br>
        XFINITY Theatre<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 27, 2015</a><br>
        Columbia, MD @ Merriweather Post Pavilion<br>
        Merriweather Post Pavillion<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 28, 2015</a><br>
        Virginia Beach, VA @ Farm Bureau Live at Virginia Beach<br>
        Farm Bureau Live Virgina Beach<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">June 30, 2015</a><br>
        Cincinnati, OH @ Riverbend Music Center<br>
        Riverbend Music Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 1, 2015</a><br>
        Noblesville, IN @ Klipsch Music Center<br>
        Klipsch Music Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 2, 2015</a><br>
        Burgettstown, PA @ First Niagara Pavilion<br>
        First Niagara Pavilion<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 3, 2015</a><br>
        Hershey, PA @ Giant Center<br>
        Giant Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 4, 2015</a><br>
        Scranton, PA @ The Pavilion at Montage Mountain<br>
        Toyota Pavillion Montage Mountain<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 10, 2015</a><br>
        Clarkston, MI @ DTE Energy Music Theatre<br>
        DTE Energy Music Theatre<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 11, 2015</a><br>
        Tinley Park, IL @ First Midwest Bank Amphitheatre<br>
        First Midwest Bank Amphitheatre<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 12, 2015</a><br>
        Nashville, TN @ Bridgestone Arena<br>
        Bridgestone Arena<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 14, 2015</a><br>
        St. Louis, MO @ Hollywood Casino Amphitheatre<br>
        Hollywood Casino Amphitheatre<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 15, 2015</a><br>
        Columbus, OH @ LC Pavilion<br>
        LC Pavilion<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 17, 2015</a><br>
        Atlanta, GA @ Aaron's Amphitheatre at Lakewood<br>
        Aaron's Amphitheatre at Lakewood<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 18, 2015</a><br>
        Raleigh, NC @ Walnut Creek Amphitheatre<br>
        Walnut Creek Amphitheatre<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 19, 2015</a><br>
        Charlotte, NC @ PNC Music Pavilion Charlotte<br>
        PNC Music Pavilion<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 21, 2015</a><br>
        Bonner Springs, KS @ Cricket Wireless Amphitheatre<br>
        Cricket Wireless Amphitheater<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 22, 2015</a><br>
        Tulsa, OK @ BOK Center<br>
        BOK Center<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 25, 2015</a><br>
        Dallas, TX @ Gexa Energy Pavilion<br>
        Gexa Energy Pavilion<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 26, 2015</a><br>
        Austin, TX @ Austin360 Amphitheater<br>
        Austin360 Amphitheater<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 28, 2015</a><br>
        Albuquerque, NM @ Isleta Amphitheater<br>
        Isleta Amphitheater<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 29, 2015</a><br>
        Denver, CO @ Fiddler's Green Amphitheather<br>
        Fiddler's Green Amphitheatre<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">July 30, 2015</a><br>
        Salt Lake City, UT @ USANA Amphitheatre<br>
        Usana Amphitheatre<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">August 1, 2015</a><br>
        Ridgefield, WA @ Amphitheater Northwest<br>
        Amphitheater Northwest<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">August 2, 2015</a><br>
        Auburn, WA @ White River Amphitheater<br>
        White River Amphitheater<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">August 4, 2015</a><br>
        Concord, CA @ Concord Pavilion<br>
        Concord Pavilion<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">August 5, 2015</a><br>
        Sacramento, CA @ Sleep Train Amphitheater<br>
        Sleep Train Arena<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">August 7, 2015</a><br>
        Las Vegas, NV @ Mandalay<br>
        Mandalay Bay Resort and Casino<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">August 8, 2015</a><br>
        Chula Vista, CA @ Sleep Train Amphitheater<br>
        Sleep Train Amphitheatre<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">August 10, 2015</a><br>
        Los Angeles, CA @ Hollywood Bowl<br>
        Hollywood Bowl<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">October 3, 2015</a><br>
        Leeds, UK @ First Direct Arena<br>
        First Direct Arena<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">October 4, 2015</a><br>
        Aberdeen, UK @ AECC GE Oil & Gas Arena<br>
        GE Oil & Gas<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">October 6, 2015</a><br>
        Birmingham, UK @ Barclaycard Arena<br>
        Barclaycard Arena<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">October 7, 2015</a><br>
        Cardiff, UK @ Motorpoint Arena<br>
        Motorpoint Arena Cardiff<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">October 9, 2015</a><br>
        Manchester, UK @ Manchester Arena<br>
        Manchester Arena<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">October 10, 2015</a><br>
        Bournemouth, UK @Bournemouth International Centre<br>
        BIC Bournemouth<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">October 11, 2015</a><br>
        SOLD OUT London, UK @ The SSE Arena Wembley<br>
        The SSE Arena, Wembley<br>
        <p class="lead"><a href="http://www.ticketmaster.com/">October 12, 2015</a><br>
        London, UK @ The SSE Arena Wembley<br>
        The SSE Arena, Wembley<br>
    </div>

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
	
	
	
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>