{% load staticfiles %}
<img src="{% static "head.jpg" %}">

.jumbotron h1 {
	color: #0099FF;
	font-style: italic;
	font-family: "Trebuchet MS", Helvetica;

}

.jumbotron header {

	max-width: 100%;
	height: auto;

}

.jumbotron {

    background-image: url("head.JPG");
    background-color: #CEBBF2;
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-default {
    border-color: transparent;
    #background: radial-gradient(closest-corner at 75% 40% , rgb(255, 255, 0), #rgb(117, 217, 173)) repeat scroll 0% 0% transparent;
    background: radial-gradient(closest-corner at 75% 40%, #A375FF, #19D1FF);
}

.navbar-default .navbar-nav > li > a {
    color: black;
font-family: 'VT323';
font-size: 1.3em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: yellow;
    background-color: #75D9AD;
}

.navbar-default .navbar-brand {
    font-family: 'Monofett';
    font-size: 2.4em;
    color: #DA70D6;
}


p {

	font-family:'VT323';
	font-size: 20px;
}

h4 {

	font-family:'Monofett';
	font-size: 30px;

}

.body {
    position: relative;
}
.band {
    margin-left: -70px;
    margin-right: 10%;
}

#space {
    margin-top: -70px;
    padding-top: 70px;
}

#sidebar.affix {
    top: 60px;
}

.bs-docs-sidebar {
    padding-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

.bs-docs-sidebar .nav>.active>a {
    color: #0099ff;
}

.container {
    margin-left: 11%;
}