

p {

	font-family:'VT323';
	font-size: 20px;
}

h4 {

	font-family:'Monofett';
	font-size: 30px;

}

.body {
    position: relative;
}
.band {
    margin-left: -70px;
    margin-right: 10%;
}

#space {
    margin-top: -70px;
    padding-top: 70px;
}

#sidebar.affix {
    top: 60px;
}

.bs-docs-sidebar {
    padding-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bs-docs-sidebar .nav>li>a {
    color: #8c00ff;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

.bs-docs-sidebar .nav>.active>a {
    color: #ae0001;
}
