{% load staticfiles %}

{% load staticfiles %}
<img src="{% static "head.jpg" %}">

.jumbotron h1 {
	color: #0099FF;
	font-style: italic;
	font-family: "Trebuchet MS", Helvetica;

}

.jumbotron header {

	max-width: 100%;
	height: auto;

}

.jumbotron {

    background-image: url("head.JPG");

    background-color: #CEBBF2;

    background-size: 100%;

    background-repeat: no-repeat;
}

.body {
    position: relative;
}
.band {
    margin-left: -70px;
    margin-right: 10%;
}

#space {
    margin-top: -70px;
    padding-top: 70px;
}

#sidebar.affix {
    top: 60px;
}

.bs-docs-sidebar {
    padding-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bs-docs-sidebar .nav>li>a {
    color: #999;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

.bs-docs-sidebar .nav>.active>a {
    color: #0099ff;
}