/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-7/nat642.cur), progress;} /* End http://www.cursors-4u.com */

.header span {
    transition: 500ms ease-in;
}
.container h1 {
    font-family:'Audiowide';
    font-style: italic;
    font-size: 59px;
   /* # 75D9AD
    # ACDE7C
    #color:#19D1FF; */
    color:#A375FF;
}
.header span:hover {

    color: #99FF66;
}

.table {
    font-family: 'VT323';
    font-size: 1.4em;
}

