.header span {
    transition: 500ms ease-in-out;
}
.container h1 {
    font-family:'Audiowide';
    font-style: italic;
    font-size: 59px;
   /* # 75D9AD
    # ACDE7C
    #color:#19D1FF; */
    color: #A375FF;
}

/*
 * for Discography and Tour pages, the headers have hover color changes
 */
.header span:hover {
    color: #99FF66;
}

.table {
    font-family: 'VT323';
    font-size: 1.4em;
}

