/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-7/nat642.cur), progress;} /* End http://www.cursors-4u.com */

{% load staticfiles %}
<img src="{% static "head.jpg" %}">

.jumbotron h1 {
	color: #0099FF;
	font-style: italic;
	font-family: "Trebuchet MS", Helvetica;

}

.jumbotron header {

	max-width: 100%;
	height: auto;

}

.jumbotron {
    background-image: url("head.JPG");
    background-color: #CEBBF2;
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-default, .dropdown-menu {
    border-color: transparent;
    background: radial-gradient(closest-corner at 75% 40%, #A375FF, #19D1FF);
}

.navbar-default .navbar-nav > li > a, .dropdown-menu  > li > a{
    color: black;
    font-family: 'VT323';
    font-size: 1.3em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: yellow;
    background-color: #75D9AD;
}

.navbar-default .navbar-brand {
    font-family: 'Monofett';
    font-size: 2.4em;
    color: #DA70D6;
}

body {
    /* *** COPYRIGHT INFO ***
     * This work, "wave.png", is a derivative work of "Underwater sculpture" by Michael Brashier,
     * used under CC BY-NC 2.0
     * Source: https://www.flickr.com/photos/michaelb1/5563304078/in/photolist-9tBotQ-5BfWBw-6iidTN-5fFqoj-5fB4iv-pBHpbB-655aaE-egPSS-aMRtQH-aPmWpK-a84Uax-g449fu-6nP7iH-aLCMSe-5pNSzZ-egPZw-8HqWiL-dobfhW-fghJ3k-aLCJpM-p6cKQB-4Z5sse-3nFuvS-9d5qoa-3jCtKU-cdeNj-aWkB22-afiiWf-aPmWRi-4hjKh3-nnk8g3-fcYStV-5fB8yt-mjxnRR-63p5Tq-5KM4c8-b92BiV-6g3RCJ-oxfMfX-gqa4Xm-eKURAi-g42TQ7-iLxVt-6jCBEX-61JBKo-b5pXhK-66GuNz-nTTpR-aWkDxH-aTiYoR
     * License: https://creativecommons.org/licenses/by-nc/2.0/legalcode
     */
    background: url('wave.png');
    /*padding-top: 50px;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}

.table-hover > tbody > tr {
    transition: 1s ease-out;
}

.table-hover > tbody > tr:hover {
    background-color: #FF69B4;
}

/* 
 *This overrides the http://getbootstrap.com/examples/blog/blog.css
 * The blog content still has margins, the navbar has default bootstrap margins
 */
@media (min-width: 1200px) {
nav > .container {
    width: 1170px;
}