
{% load staticfiles %}
<img src="{% static "head.jpg" %}">

.jumbotron h1 {
    color: #0099FF;
    font-style: italic;
    font-family: "Trebuchet MS", Helvetica;

}

.jumbotron header {

    max-width: 100%;
    height: auto;

}

.jumbotron {

    background-image: url("head.JPG");
    background-color: #CEBBF2;
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar-default {
    border-color: transparent;
    #background: radial-gradient(closest-corner at 75% 40% , rgb(255, 255, 0), #rgb(117, 217, 173)) repeat scroll 0% 0% transparent;
    background: radial-gradient(closest-corner at 75% 40%, #A375FF, #19D1FF);
}

.navbar-default .navbar-nav > li > a {
    color: black;
font-family: 'VT323';
font-size: 1.3em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: yellow;
    background-color: #75D9AD;
}

.navbar-default .navbar-brand {
    font-family: 'Monofett';
    font-size: 2.4em;
    color: #DA70D6;
}

body {
   background: url('wave.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}

